@{
    ViewData["Title"] = "Лента новостей";
}
@model News

@if (User.Identity.IsAuthenticated)
{
    <form style=" border: 1px solid black; background-color:cornsilk;" asp-controller="Home" asp-action="AddNewPost"
          method="post" enctype="multipart/form-data">
        <span style=" border: 1px solid black; background-color:grey;">Добавление новой записи</span>
        <div>
            <label>Введите текст</label>
            <div>
                <textarea asp-for="Text"> </textarea>
            </div>
        </div>
        <div>
            <input type="file"
                   accept=".jpg,.jpeg,.png"
                   class="hidden"
                   name="imagedata" />
            <input type="submit" />
        </div>
    </form>
}
<div class="card">
    @foreach (News post in ViewBag.Posts)
    {
    <div class="card-header bg-secondary" style=" border: 1px solid black">
        @if (post.Author.Photo.HasValue && Guid.Empty != post.Author.Photo.Value)
        {
            <img src="@Url.Content(SurfingBlogRt.Helpers.ImageHelper.GetUrl(post.Author.Photo))" class="rounded-circle" width="30" height="30" />
        }
        else
        {
            <img src="~/img/defaultProfile.jpg" width="30" height="30" style="border-radius: 50%" />
        }

        <label>@post.Author.Nickname</label>
        <div>
            <label>@post.CreateDateLabel</label>
        </div>

    </div>
        <div class="card-body">
                <div class="card-text">
                    @if (!string.IsNullOrEmpty(post.Text))
                    {
                        <label>@post.Text</label>
                    }
                </div>    
                    @if (post.Image.HasValue && Guid.Empty != post.Image.Value)
                    {
                        var photoUrl = SurfingBlogRt.Helpers.ImageHelper.GetUrl(post.Image);
                        @if (photoUrl != null)
                        {
                            <img src="@Url.Content(photoUrl)" class="w-100 h-100" />
                        }
                    }
        </div>
        
    }
</div>
