@model IEnumerable<SurfingBlogRt.Models.StatisticTableViewModel>
@{
    ViewData["Title"] = "Главная";
}
<div class="base_info">
    <p>
        Данный сайт создан для студентов и начинающих IT-разработчиков, желающих попробовать себя или набраться необходимого опыта на старте карьеры
        Предоставляется информация о предстоящих хакатонах, наборах на стажировки или практикумы в real-time режиме.
    </p>
    <img src="~/img/Hack.jpeg">
    <p> Ниже приведена количественнная информация о текущих стажировках</p>
    <table class="statistics-info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Theme)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tableItem in Model)
            {
                <tr>
                    <td>
                        @tableItem.Type
                    </td>
                    <td>
                        @tableItem.Theme
                    </td>
                    <td>
                        @tableItem.Count
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function onImageUpload() {
        if (document.getElementById("postText").value === ""
            && document.getElementById("imageData").value === "") {
            document.getElementById('save_button').disabled = true;
        } else {
            document.getElementById('save_button').disabled = false;
        }

        if (document.getElementById('imageData')
            && document.getElementById('imageData').files
            && document.getElementById('imageData').files[0].name !== "") {
            document.getElementById("imageDataName").value
                = "...\\" + document.getElementById('imageData').files[0].name;
        }
    }
</script>
